.interview-list-item {
  height: 70px;
  background-color: #e3e3e3;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.interview-list-item-link {
  padding: 40px 0;
}

.interview-list-item-interviewee {

}

.interview-list-item-pending-count {

}
